.box {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #1f1f1f;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    .c1 {
        padding: 10px;
        .cd-1 {
            
            .font {
                display: block;
                color: #df4848;
                font-weight: 700;
                font-size: 30px;
                }
            .font-1 {
                color: #df4848;
                font-size: 10px;
            }
            }
        .cd-2 {
            
            .cd-2-1 {
                .cd-2-1-1 {
                    margin: 19px 10px;
                }
            }
            }
        }
    .c2 {

        padding: 10px;
    }
    .el-table {
        border-radius: 6px;
    }
}
::v-deep .el-dialog__header {
    background: #1f1f1f;
}
::v-deep .el-dialog__title {
    color: #fff;
}
